@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --line: #D9D9D9;
  --primary: #00A7E5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-lexend-sans);
  --font-mono: var(--font-lexend-mono);

  --color-line: var(--line);
  --color-primary: var(--primary);
  --color-secondary: #C4A742
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a;
    --foreground: #ededed; */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.container {
  @apply px-4;
}

@media  (min-width: 768px) {
  .container {
    @apply px-12;
  }
}

@media  (min-width: 1024px) {
  .container {
    @apply px-48;
  }
}